<html>
  <head>
    <title>Create a Discussion Forum in Seconds | DiscussOne</title>
    <meta charset="utf-8">
    <meta name="keywords" content="create a forum, make a forum, build a forum, make a forum quickly, discussone,  discuss one, hosted forums">
  	<meta name="description" content="Create a forum in seconds. Created forums are hosted, free, and feature a modern look and feel.">
  	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/dist/style.css">
  	<script type='text/javascript' src='/javascripts/jquery-1.11.0.js'></script>
    <script type='text/javascript' src="/javascripts/angular.min.js"></script>
    <script type='text/javascript' src="/javascripts/angular-ui-router.min.js"></script>
    <script type='text/javascript' src='/javascripts/infinite.js'></script>
    <script src="/javascripts/froala_editor.min.js"></script>
    <script src="/javascripts/froala-sanitize.js"></script>
    <script src="/javascripts/angular-froala.js"></script>
    <script type='text/javascript' src="/javascripts/moment.min.js"></script>
	<script type='text/javascript' src="/javascripts/angular-momentjs/angular-momentjs.js"></script>
	<script type='text/javascript' src="/javascripts/angular-smooth-scroll.js"></script>
	<script type='text/javascript' src="/javascripts/ga.js"></script>
	<script src="/javascripts/ng-FitText.js"></script>
	<script src="/javascripts/angularApp.js"></script>
	<script type='text/javascript' src='/javascripts/fixing.js'></script>
	  <!-- Initialize the editor. -->
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
  </head>
  <body>
	<div ng-app="forumBody" ng-controller="BuildCtrl">
  	
  	
		<div class="ui-router-d">

			
    		<ui-view></ui-view>
    	</div>

    	<script type="text/ng-template" id="/build.html">

    	<div class="main-front-wrapper">


    	<nav class="front top-nav">
    		<div class="nav-content-wrapper">
	    		<div class="logo-wrapper">
	    			<a href="/"><img src="/images/discuss-one-logo-2.png" class="img-laptop" alt="DiscussOne Logo"></a>
	    		</div>

	    		<div class="account-wrapper">
	    			<div class="second-account">
	    				<div class="social">
		    				<a href="https://www.facebook.com/DiscussOne" target="_blank"><img src="/images/facebook-gray.png" class="img-laptop" alt="Facebook Icon"></a>
		    				<a href="https://twitter.com/discussone" target="_blank"><img src="/images/twitter-gray.png" class="img-laptop" alt="Twitter Icon"></a>
		    			</div>
		    			<ul>
		    				<li class="left" ng-show="!isLoggedIn()"><a href="/login" target="_self">Login</a></li>
						    <li class="right" ng-show="!isLoggedIn()"><a href="/signup" target="_self">Sign-up</a></li>
						    <li class="left" ng-show="isLoggedIn()"><a href="/profile"  target="_self">{{user.username}}</a></li>
						    <li class="right" ng-show="isLoggedIn()"><a href="/logout"  target="_self">logout</a></li>
						    
		    			</ul>
		    			
	    			</div>
	    		</div>
	    		<div class="account-wrapper-mobile">
	    			<div><a ng-click="showMobile()" href="#">Menu</a></div>	    			
			    </div>
	    	</div>

    	</nav>

    	<div class="main-content-wrapper">
    		<ul class="mobile-menu">
    			<li class="left" ng-show="!isLoggedIn()"><a href="/login" target="_self"><div>Login</div></a></li>
				<li class="right" ng-show="!isLoggedIn()"><a href="/signup" target="_self"><div>Sign-up</div></a></li>
				<li class="left" ng-show="isLoggedIn()"><a href="/profile"  target="_self"><div>{{user.username}}</div></a></li>
				<li class="right" ng-show="isLoggedIn()"><a href="/logout"  target="_self"><div>logout</div></a></li>
    		</ul>

	    	<div class="front cheesy-sentance">
	    		<span class="front cheesy"><h1>Create a Discussion Forum in Seconds</h1></span>
	    	</div>

	    	<div class="second-main-wrapper">

		    	<div class="front form-wrapper">

					<div class="creator-form reg" ng-show="isLoggedIn()">

					    <form class="homepage-forum reg" name="buildForumWU">
					  		
					  		<div class="input name" ng-class="{error: buildForumWU.comname.$invalid}">
									<label class="name">Community Name</label>
									<div class="faketb">
										<i class="fa fa-comment fa-lg"></i>
										<input class="text name" type="text"  placeholder="Community Name" data-wc-unique="{property: 'forumfirst'}" ng-change="changeURL(comname)" name="comname" ng-model="comname" ng-pattern="/^[a-zA-Z][a-zA-Z0-9_ -]{2,25}$/" required> </input>
									</div>
									<div class="invalid" ng-show="buildForumWU.comname.$dirty && buildForumWU.comname.$invalid"><br/>
									    <span class="errorMessage" ng-show="buildForumWU.comname.$error.pattern">Error: Invalid Name<br/></span>
									</div>
							</div>

							<div class="input url">
								<div class="form-group two" ng-class="{ 'has-error' : signup.comurl.$invalid && !signup.comurl.$pristine }">

								<label class="url">discussone.com/</label>
							  		<input class="text url" type="text" ng-model="comurl" name="comurl" ng-change="updateURL(comurl)" data-wc-unique="{property: 'forum'}" ng-pattern="/^[a-zA-Z][a-zA-Z0-9-]{2,25}$/" required> </input>
							  		<span class="errorMessage" ng-show="buildForumWU.comurl.$dirty && buildForumWU.comurl.$error.unique">URL already in use</span>
							  		<span class="errorMessage" ng-show="buildForumWU.comname.$dirty && buildForumWU.comname.$error.unique">URL already in use</span>
							  		<span class="errorMessage" ng-show="buildForumWU.comurl.$error.pattern">Error: Invalid link<br/></span>
						  		</div>
					  		</div>
					  		<a ng-click="options()" href="#" class="options"><span>Options</span></a>
							<div class="input access">
						  		<label class="access">Access Code <span>(Optional)</span></label>
						  		<div class="faketb">
						  			<i class="fa fa-info-circle"></i>
						  			<input class="text access" type="text" placeholder="" ng-model="accesscodebox"> </input>
						  		</div>
						  	</div>
					  		<div class="input reg">
						  		<label class="reg">Allow Registered Users</label>
						  		<input type="checkbox" ng-model="reguserbool" ng-true-value="true" ng-false-value="false" >
					  		</div>
					  		<div class="input anon">
						  		<label class="anon">Allow Anonymous Users</label>
						  		<input type="checkbox" ng-model="anonuserbool" ng-true-value="true" ng-false-value="false" >
					  		</div>
					  		<div class="submit-button">
					  			<button class="submit" ng-click="submitForm()" ng-disabled="buildForumWU.$invalid" type="submit">Create Forum Now!</button>
					  		</div>
					  	</form>
					</div>

					<div class="creator-form anon" ng-show="!isLoggedIn()">

					    <form class="homepage-forum anon" name="buildForum">
					  		
					  		<div class="input name" ng-class="{error: buildForum.comname.$invalid}">
									<label class="name">Community Name</label>
									<div class="faketb">
										<i class="fa fa-comment fa-lg"></i>
										<input class="text name" type="text"  placeholder="Community Name" data-wc-unique="{property: 'forumfirst'}" ng-change="changeURL(comname)" name="comname" ng-model="comname" ng-pattern="/^[a-zA-Z][a-zA-Z0-9_ -]{2,25}$/" required> </input>
									</div>
									<div class="invalid" ng-show="buildForum.comname.$dirty && buildForum.comname.$invalid"><br/>
									    <span class="errorMessage" ng-show="buildForum.comname.$error.pattern">Error: Invalid Name<br/></span>
									</div>
							</div>

							<div class="input url">
								
								<div class="form-group" ng-class="{ 'has-error' : signup.comurl.$invalid && !signup.comurl.$pristine }">
							  		<label class="url">discussone.com/</label>
							  		<input class="text url" type="text" ng-model="comurl" name="comurl" ng-change="updateURL(comurl)" data-wc-unique="{property: 'forum'}" ng-pattern="/^[a-zA-Z][a-zA-Z0-9-]{2,25}$/" required> </input>
							  		<span class="errorMessage" ng-show="buildForum.comurl.$dirty && buildForum.comurl.$error.unique">URL already in use</span>
							  		<span class="errorMessage" ng-show="buildForum.comname.$dirty && buildForum.comname.$error.unique">URL already in use</span>
							  		<span class="errorMessage" ng-show="buildForum.comurl.$error.pattern">Error: Invalid link<br/></span>
						  		</div>
					  		</div>

					  		<div class="input email">
								<label class="email">Email</label>
								<div class="form-group" ng-class="{ 'has-error' : signup.email.$invalid && !signup.email.$pristine }">
									<div class="faketb">
										<i class="fa fa-envelope fa-lg"></i>
										<input class="text url" type="email" placeholder="Email" ng-model="email" data-wc-unique="{property: 'email'}" style="width:200px;" name="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" required>
									</div>
									<span class="errorMessage" ng-show="buildForum.email.$dirty && buildForum.email.$error.unique">Email already in use</span>
									<span class="errorMessage" ng-show="buildForum.email.$error.pattern">Invalid Email<br/></span>
								</div>
							</div>
							<div class="input username">
								<label class="username">Username</label>
								<div class="control-group" ng-class="{ 'has-error' : signup.username.$invalid && !signup.username.$pristine }">
									<div class="faketb">
										<i class="fa fa-user fa-lg"></i>
										<input class="text username" type="text" placeholder="Username" ng-model="username"  data-wc-unique="{property: 'username'}" style="width:200px;" name="username" ng-minlength="4" ng-maxlength="22" required>
									</div>
									<span class="errorMessage" ng-show="buildForum.username.$dirty && buildForum.username.$error.unique">Username already in use</span>

							    </div>
							</div>

							<div class="input password">
								<label class="password">Password</label>
								<div class="control-group">
								<div class="faketb">
									<i class="fa fa-lock fa-lg"></i>
									<input class="text password" type="password" placeholder="Password" ng-model="password" style="width:200px;" name="password" ng-minlength="6" ng-maxlength="30" ng-pattern="/^[a-zA-Z0-9!@#$%^*]{6,16}$/"  required>
								</div>
								<span class="errorMessage" ng-show="buildForum.password.$dirty && buildForum.password.$error.pattern">Password Invalid</span>
								 </div>
							</div>
							<a ng-click="options()" href="#" class="options"><span>Options</span></a>
							<div class="input access">
						  		<label class="access">Access Code <span>(Optional)</span></label>
						  		<div class="faketb">
						  			<i class="fa fa-info-circle"></i>
						  			<input class="text access" type="text" placeholder="" ng-model="accesscodebox"> </input>
						  		</div>
						  	</div>
					  		<div class="input reg">
						  		<label class="reg">Allow Registered Users</label>
						  		<input type="checkbox" ng-model="reguserbool" ng-true-value="true" ng-false-value="false" >
					  		</div>
					  		<div class="input anon">
						  		<label class="anon">Allow Anonymous Users</label>
						  		<input type="checkbox" ng-model="anonuserbool" ng-true-value="true" ng-false-value="false" >
					  		</div>

					  		<div class="submit-button">
					  			<button class="submit" ng-click="submitFormWU()" ng-disabled="buildForum.$invalid" type="submit">Create Forum Now!</button>
					  		</div>
					  	</form>


					</div>

				</div> <!--second-main-wrapper-->


				<div class="front info-wrapper">
		    		<div class="laptop-i-cant-afford">
		    			<img src="/images/laptop2-837-500.png" class="img-laptop" alt="Forum Design Preview">
		    		</div>

		    		<div class="more-bs">
		    			<ul>
		    				<li><h2>Always Free</h2></li>
		    				<li><h2>Modern Design</h2></li>
		    				<li><h2>Easy to Use</h2></li>
		    				<li><h2>Make any Topic</h2></li>
		    			</ul>
		    		</div>
		    	</div>

			</div> <!--front-form-wrapper-->

		    	

		</div> <!--main-content-wrapper-->


		<div class="front first-footer">
			<div class="foot">
				<div class="f">
					<a href="/popular" target="_self">Popular Forums</a>
				</div>
			</div>
		</div>

		<div class="front last-footer">
			<div class="last-wrap">
				<ul>
					<li class="left"><a href="/" target="_self">About</a></li>
					<li class="left"><a href="/contact" target="_self">Contact</a></li>
					<li><a href="/" target="_self">Policy</a></li>
				</ul>
			</div>
		</div>
			
		</div> <!--main-front-wrapper-->

    	

		  	</script>

	
   
		<script type="text/ng-template" id="/homepage.html">

			<div class="main-front-wrapper">

		    	<nav class="front top-nav">
		    		<div class="nav-content-wrapper">
			    		<div class="logo-wrapper">
			    			<a href="/"><img src="/images/discuss-one-logo-2.png" class="img-laptop" alt="DiscussOne Logo"></a>
			    		</div>

			    		<div class="account-wrapper">
			    			<div class="second-account">
			    				<div class="social">
				    				<img src="/images/facebook-gray.png" class="img-laptop" alt="Forum Design Preview">
				    				<img src="/images/twitter-gray.png" class="img-laptop" alt="Forum Design Preview">
				    			</div>
				    			<ul>
				    				<li class="left" ng-show="!isLoggedIn()"><a href="/login" target="_self">Login</a></li>
								    <li class="right" ng-show="!isLoggedIn()"><a href="/signup" target="_self">Sign-up</a></li>
								    <li class="left" ng-show="isLoggedIn()"><a href="/profile"  target="_self">{{user.username}}</a></li>
								    <li class="right" ng-show="isLoggedIn()"><a href="/logout"  target="_self">logout</a></li>
								    
				    			</ul>
				    			
			    			</div>
			    		</div>
			    		<div class="account-wrapper-mobile">
			    			<div><a ng-click="showMobile()" href="javascript:void(0)">Menu</a></div>	    			
					    </div>
			    	</div>

		    	</nav>

	    		<div class="main-content-wrapper">
		    		<ul class="mobile-menu">
		    			<li class="left" ng-show="!isLoggedIn()"><a href="/login" target="_self"><div>Login</div></a></li>
						<li class="right" ng-show="!isLoggedIn()"><a href="/signup" target="_self"><div>Sign-up</div></a></li>
						<li class="left" ng-show="isLoggedIn()"><a href="/profile"  target="_self"><div>{{user.username}}</div></a></li>
						<li class="right" ng-show="isLoggedIn()"><a href="/logout"  target="_self"><div>logout</div></a></li>
		    		</ul>
	    			<div class="second-main-wrapper pop">
	    			  <div class="pop-table">
	    			  	<table>
						  <caption>Popular Communities</caption>
						    <tr>
						      <th>Community</th>
						      <th class="po-cell">Posts</th>
						    </tr>
		    			  	<tr ng-repeat="fo in forum | orderBy:'-posts.length' | limitTo:10">
							  <td><a href="/{{fo.url}}" target="_self">{{fo.title}} </a></td>
							  <td class="po-cell"></a>{{fo.posts.length}} </td>
						  	</tr>
						</table>  	
	    			  </div>
	    			  
				    </div>
	    		</div>
	    		<div class="pop-build">
	    			    <div class="front first-footer">
							<div class="foot">
								<div class="f">
									<a href="/" target="_self">Build a Forum</a>
								</div>
							</div>
						</div>
						<div class="front last-footer">
						<div class="last-wrap">
							<ul>
								<li class="left"><a href="/" target="_self">About</a></li>
								<li class="left"><a href="/contact" target="_self">Contact</a></li>
								<li><a href="/" target="_self">Policy</a></li>
							</ul>
						</div>
					</div>
	    		</div>
	    	</div>
		</script>

		<script type="text/ng-template" id="/contact.html">
			<div class="main-front-wrapper">
		    	<nav class="front top-nav">
		    		<div class="nav-content-wrapper">
			    		<div class="logo-wrapper">
			    			<a href="/"><img src="/images/discuss-one-logo-2.png" class="img-laptop" alt="DiscussOne Logo"></a>
			    		</div>

			    		<div class="account-wrapper">
			    			<div class="second-account">
			    				<div class="social">
				    				<img src="/images/facebook-gray.png" class="img-laptop" alt="Forum Design Preview">
				    				<img src="/images/twitter-gray.png" class="img-laptop" alt="Forum Design Preview">
				    			</div>
				    			<ul>
				    				<li class="left" ng-show="!isLoggedIn()"><a href="/login" target="_self">Login</a></li>
								    <li class="right" ng-show="!isLoggedIn()"><a href="/signup" target="_self">Sign-up</a></li>
								    <li class="left" ng-show="isLoggedIn()"><a href="/profile"  target="_self">{{user.username}}</a></li>
								    <li class="right" ng-show="isLoggedIn()"><a href="/logout"  target="_self">logout</a></li>
								    
				    			</ul>
				    			
			    			</div>
			    		</div>
			    		<div class="account-wrapper-mobile">
			    			<div><a ng-click="showMobile()" href="javascript:void(0)">Menu</a></div>	    			
					    </div>
			    	</div>

		    	</nav>

	    		<div class="main-content-wrapper">
		    		<ul class="mobile-menu">
		    			<li class="left" ng-show="!isLoggedIn()"><a href="/login" target="_self"><div>Login</div></a></li>
						<li class="right" ng-show="!isLoggedIn()"><a href="/signup" target="_self"><div>Sign-up</div></a></li>
						<li class="left" ng-show="isLoggedIn()"><a href="/profile"  target="_self"><div>{{user.username}}</div></a></li>
						<li class="right" ng-show="isLoggedIn()"><a href="/logout"  target="_self"><div>logout</div></a></li>
		    		</ul>
	    			<div class="second-main-wrapper">
	    			  <h1 class="contact-us">Contact Us</h1>

	    			  <div class="col-lg-12 col-md-12 col-sm-12" ng-controller="ContactController">
						  <div class="alert alert-danger" ng-show="error">
						    <button class="close" data-dismiss="alert">x</button>
						    <strong>Error!</strong> An error occured while trying to send message.
						  </div>
						  <div class="alert alert-success" ng-show="success">
						    <button class="close" data-dismiss="alert">x</button>
						    <strong>Success! </strong> Your message was successfully sent.
						  </div>
						  <form role="form" name="contactForm">
						    <div class="form-group" ng-class="{error: contactForm.name.$invalid}">
						    <label>Full Name</label>
						    <input class="form-control" type="text" name="name" ng-model="user.name" required="required" placeholder="Your name">
						      <span class="help-block" ng-show="contactForm.name.$error.required">Required</span>
						    </div>
						    <div class="form-group" ng-class="{error: contactForm.email.$invalid}">
						      <label>Email</label>
						      <input class="form-control" type="email" name="email" ng-model="user.email" required="required" placeholder="Your email address">
						      <span class="help-block" ng-show="contactForm.email.$error.required">Required</span>
						      <span class="help-block" ng-show="contactForm.email.$error.email">Invalid email address</span>
						    </div>
						    <div class="form-group" ng-class="{error: contactForm.message.$invalid}">
						      <label>Message</label>
						      <textarea class="form-control" rows="5" name="message" ng-model="user.body" required="required" placeholder="Your messsage"></textarea>
						      <span class="help-inline" ng-show="contactForm.message.$error.required">Required</span>
						    </div>
						    <button class="btn btn-primary btn-lg btn-block" ng-click="send()" ng-disabled="contactForm.$invalid">Send</button>
						  </form>
						</div>
	    			  
				    </div>
	    		</div>
	    		<div class="pop-build">
	    			    <div class="front first-footer">
							<div class="foot">
								<div class="f">
									<a href="/" target="_self">Build a Forum</a>
								</div>
							</div>
						</div>
	    		</div>
	    	</div>
		</script>
		
	</div>
  </body>
</html>
