<html>
  <head>
    <title>Insert Forum Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/froala_editor.min.css" rel="stylesheet" type="text/css" />
  	<link href="/stylesheets/froala_style.min.css" rel="stylesheet" type="text/css" />
  	<script type='text/javascript' src='/javascripts/jquery-1.11.0.js'></script>
    <script type='text/javascript' src="/javascripts/angular.min.js"></script>
    <script type='text/javascript' src="/javascripts/angular-ui-router.min.js"></script>
    <script type='text/javascript' src='/javascripts/infinite.js'></script>
    <script src="/javascripts/froala_editor.min.js"></script>
    <script src="/javascripts/froala-sanitize.js"></script>
    <script src="/javascripts/angular-froala.js"></script>
    <script type='text/javascript' src="/javascripts/angular-sanitize.js"></script>

	<script src="/javascripts/angularApp.js"></script>
	  <!-- Initialize the editor. -->
	  <script>
		  $(function() {
		    $('textarea#edit').editable({
		      inlineMode: false
		    })
		  });
		</script>
    <base href="/" />
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>
  <body>
	<div  ng-app="forumBody" ng-controller="MainCtrl">

    	<ui-view></ui-view>

	
    <script type="text/ng-template" id="/forum.html">

    </script>
	<script type="text/ng-template" id="/home.html">


	<nav class="navbar navbar-inverse" role="navigation">
	    <div class="navbar-header">
	    	<div ng-include="nav_partial_url"></div>
	        <a class="navbar-brand" ui-sref="#">Discussion Forums</a>
	    </div>
	    <ul class="nav navbar-nav">

			<li><a href="/" target="_self">Home</a></li>
		    <li ng-show="!isLoggedIn()"><a href="/login" target="_self">Login</a></li>
		    <li ng-show="!isLoggedIn()"><a href="/signup" target="_self">Sign-up</a></li>
		    <li><a href="/popular" target="_self">Forums</a></li>
		        
		    <li><a href=""  target="_self"> </a></li>
		    <li ng-show="isLoggedIn()"><a href="/logout"  target="_self">logout</a></li>
		    <li ng-show="isLoggedIn()"><a href="/profile"  target="_self">Hello, {{user}}</a></li>
	    </ul>
	</nav>


    <div class="col-lg-  col-md-offset-1">

		<div class="page-header">
	        <h1>{{forum.title}}</h1>
	         <br>
	         <p>Search - Categories - <a ui-sref=".post">Post</a></p>
	        
	        
	     </div>

	    <div class="row" style="margin-left:0px;margin-right:0px;"><div class="col-xs-5" style="height:65%;overflow:auto;">

		  	<div ng-repeat="post in forum.posts | orderBy: '-date'" >

		  		<a ng-show="post.link" href="{{post.link}}">
		  		<a ui-sref=".posts({id: post._id })">{{post.title}}</a>
		  		</a>
		  		 - Date: {{post.date}} - By: {{post.user.username}}
				
		  	</div>


		  	<a href="#/profile">Profile</a> {{user}}

		</div>
		<div class="col-xs-5">
			<ui-view></ui-view>
		</div>
		</div>


		</div>


	</script>

		<script type="text/ng-template" id="/login.html">
		  <div class="page-header">
		    <h3> Login Page </h3>
		  </div>

		</script>


		<script type="text/ng-template" id="/post.html">

		  <form ng-submit="addPost(forum._id)">
		  		<input class="form-control"type="text" placeholder="Title" ng-model="title"> </input>
		  		<br>
		  		<textarea class="form-control" froala="" id="edit" name="content" rows="4" cols="50" type="text" placeholder="Body" ng-model="bode"> </textarea>
		  		<br>
		  		<input class="form-control" type="date" placeholder="Expiration Date" ng-model="exdate"> </input>
		  		<button class="btn btn-warning btn-lg" type="submit">Post</button>
		  	</form>

		  	<a ui-sref="forum">back</a>
		
		</script>

		<script type="text/ng-template" id="/edit.html">
			<div ng-show="loadEdit(post)"></div>


			  <form ng-submit="editPost(post._id)">
			  		<input class="form-control"type="text" placeholder="Title" ng-model="title"></input>
			  		<br>
			  		<textarea class="form-control" froala="" id="edit" name="content" rows="4" cols="50" type="text" placeholder="Body" ng-model="bode"> </textarea>
			  		<br>
			  		<button class="btn btn-warning btn-lg" type="submit">Save</button>
			  	</form>

			  	<a ui-sref="forum">back</a>
			
		</script>


		<script type="text/ng-template" id="/posts.html">
			<div class="show-post" style="height:65%;overflow:auto;">

			  <div class="page-header">
			    <h3>
			      <a ng-show="post.link" href="{{post.link}}">
			        {{post.title}}
			      </a>
			      <span ng-hide="post.link">
			        {{post.title}}
			      </span>
			      
			      <br>
			      <img ng-src="/uploads/{{post.user.profilepic}}" height="47" width="47" /><small> By: {{post.user.username}} </small>

			      <div ng-show="isCreater(post.user._id)">  <a ui-sref="forum.edit({id: post._id })">edit</a> 
			      
			      <form ng-submit="deletePost(post._id)">
			      	<button type="submit" class="btn btn-primary">Delete</button>
			      </form>
			    </h3>
			  </div>

				<div class="page-body">
				<br>

				  <p ng-bind-html="post.bode"></p>
				</div
				<br>
				<hr>

			  <div ng-repeat="commenter in post.comments | orderBy:'date'">
			    <img ng-src="/uploads/{{commenter.user.profilepic}}" height="47" width="47" /> - by {{commenter.user.username}}
			    <span style="font-size:20px; margin-left:10px;">

			      <p ng-bind-html="commenter.body"></p>
			    </span>
			  </div>

			  <form ng-submit="addComment()"
			    style="margin-top:30px;">

			    <div class="form-group">
			    	<textarea class="form-control" froala="" id="edit" name="content" rows="4" cols="50" type="text" placeholder="Insert text here ..." ng-model="body"> </textarea>
			      
			    </div>
			    <button type="submit" class="btn btn-primary">Post</button>
			  </form>
			</div>

		</script>

		<script type="text/ng-template" id="/profile.html">

			<h3>Here</h3>

		</script>

		

	</div>

	
  </body>

</html>
