<html>
  <head>
    <title>Discuss One | Forum Home</title>
    <meta charset="utf-8">
    <meta name="keywords" content="created forum, made forum, built forum, hosted forum">
  	<meta name="description" content="This is forum created using our forum builder tool.">
  	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/dist/style.css">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/froala_editor.min.css" rel="stylesheet" type="text/css" />
  	<link href="/stylesheets/froala_style.min.css" rel="stylesheet" type="text/css" />
  	<script type='text/javascript' src='/javascripts/jquery-1.11.0.js'></script>
    <script type='text/javascript' src="/javascripts/angular.min.js"></script>
    <script type='text/javascript' src="/javascripts/angular-ui-router.min.js"></script>
    <script type='text/javascript' src='/javascripts/infinite.js'></script>
    <script src="/javascripts/froala_editor.min.js"></script>
    <script src="/javascripts/froala-sanitize.js"></script>
    <script src="/javascripts/angular-froala.js"></script>
    <script type='text/javascript' src="/javascripts/angular-sanitize.js"></script>
	<script type='text/javascript' src="/javascripts/angular-perfect-scrollbar-master/src/angular-perfect-scrollbar.js"></script>
    <script type='text/javascript' src="/javascripts/angular-perfect-scrollbar-master/bower_components/perfect-scrollbar/src/perfect-scrollbar.js"></script>
    <script type='text/javascript' src="/javascripts/angular-perfect-scrollbar-master/bower_components/perfect-scrollbar/src/jquery.mousewheel.js"></script>
    <link href="/javascripts/angular-perfect-scrollbar-master/bower_components/perfect-scrollbar/src/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <script type='text/javascript' src="/javascripts/moment.min.js"></script>
    <script type='text/javascript' src="/javascripts/ga.js"></script>
	<script type='text/javascript' src="/javascripts/angular-momentjs/angular-momentjs.js"></script>


	<script src="/javascripts/angularApp.js"></script>
	  <!-- Initialize the editor. -->
    <base href="/" />
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
  </head>
  <body class="main-app pat">
	<div  ng-app="forumBody" ng-controller="MainCtrl">

    	<ui-view></ui-view>

	
    <script type="text/ng-template" id="/forum.html"></script>
	<script type="text/ng-template" id="/home.html">


		<nav class="front top-nav">
	    		<div class="nav-content-wrapper">
		    		<div class="logo-wrapper">
		    			<h1>{{forum.title}}</h1>
		    		</div>

		    		<div class="account-wrapper">
		    			<div class="second-account">
		    				<div class="social">
			    				<a href="https://www.facebook.com/DiscussOne" target="_blank"><img src="/images/facebook-gray.png" class="img-laptop" alt="Facebook Icon"></a>
		    					<a href="https://twitter.com/discussone" target="_blank"><img src="/images/twitter-gray.png" class="img-laptop" alt="Twitter Icon"></a>
			    				<a href="/" target="_self"><img src="/images/home-gray.png" class="img-laptop" alt="Forum Design Preview"></a>
			    			</div>
			    			<ul>
			    				<li class="left" ng-show="!isLoggedIn()"><a href="/login" target="_self">Login</a></li>
							    <li class="right" ng-show="!isLoggedIn()"><a href="/signup" target="_self">Sign-up</a></li>
							    <li class="left" ng-show="isLoggedIn()"><a href="/profile"  target="_self">{{$$childTail.user}}</a></li>
							    <li class="right" ng-show="isLoggedIn()"><a href="/logout"  target="_self">logout</a></li>
							    
			    			</ul>
			    			
		    			</div>
		    		</div>
		    	</div>
	    </nav>


	    <div class="content-wrapper">
		    <ul class="mobile-menu">
				<li class="left" ng-show="!isLoggedIn()"><a href="/login" target="_self"><div>Login</div></a></li>
				<li class="right" ng-show="!isLoggedIn()"><a href="/signup" target="_self"><div>Sign-up</div></a></li>
				<li class="left" ng-show="isLoggedIn()"><a href="/profile"  target="_self"><div>{{user.username}}</div></a></li>
				<li class="right" ng-show="isLoggedIn()"><a href="/logout"  target="_self"><div>logout</div></a></li>
			</ul>
	    	<div class="second-wrapper">
		    	<div class="sidebar-wrapper">

			    	<div class="sidebar-buttons">
				    	<div class="search">
				    		<i class="fa fa-search"></i>
				    		<input class="search-bar"> </input>

				    	</div>
				    	<div class="categories">
				    		<i class="fa fa-caret-down"></i>
				    		<a ui-sref="#">Categories</a>
				    	</div>
				    	<div class="post">
							<a ng-click="hideShit()"  ui-sref=".post">+Post</a>
				    	</div>
			    	</div>
			    	<div perfect-scrollbar class="post-list-wrapper scroller">
				    	<div class="post-list">
						  	<div class="post-link-wrapper {{findActive(post)}}" ng-repeat="post in forum.posts | orderBy: '-date'" >
						  		<a class="po-link" ui-sref=".posts({id: post._id })"><span class="empty"></span></a>
							  		</a>
						  		<div class="post-link">
							  		{{post.title}}
							  	</div>
							  	<div class="post-meta">
							  		<span class="date">{{dateMaster(post.date)}} </span>
							  		<span class="username"> {{post.user.username}}</span>
							  	</div>						  		
						  	</div>
						</div>
					</div>
				</div>

				<div ng-class="infoSelector()">
		            <ui-view></ui-view>
		        </div>

			</div><!-- second-wrapper-->
		</div> <!-- content-wrapper-->


	</script>

		<script type="text/ng-template" id="/login.html">
		  <div class="page-header">
		    <h3> Login Page </h3>
		  </div>

		</script>


		<script type="text/ng-template" id="/post.html">
			<div class="post-form-wrapper">

			<div class="back-div">
			  	<div class="back-box">
			  		<a ng-click="showShit()" ui-sref="forum"><span class="empty"></span></a>
			  		<i class="fa fa-arrow-left"></i>
			  		<a ng-click="showShit()" ui-sref="forum"><h3>Back</h3></a>
			  	</div>
			</div>

			    <form ng-submit="addPost(forum._id)">
			    	<div class="title-wrapper">
			  			<input class="form-control"type="text" placeholder="Title" ng-model="title"> </input>
			  		</div>
			  		<br>
			  		<div class="body-wrapper">
			  			<textarea class="form-control" froala="" id="edit" name="content" rows="15" cols="50" type="text" placeholder="Body" ng-model="bode"> </textarea>
			  		</div>
			  		<br>
			  		<div class="icon-wrapper">
			  			<div class="icon bomb">
			  			<i class="fa fa-bomb fa-2x"></i>
			  				<select class="setext" ng-model="bomb" ng-change="relDate(bomb)">
			  					<option value="null" selected>- None -</option>
			  					<option><span>Minute</span></option>
						        <option><span>Hour</span></option>
						        <option><span>Day</span></option>
						        <option><span>Month</span></option>
						    </select>
						
			  			</div>
			  			<div class="icon pencil">
			  				<i class="fa fa-pencil fa-2x"></i>
			  			</div>
			  			<div class="icon camera">
			  				<i class="fa fa-camera fa-2x"></i>
			  			</div>
			  			<div class="icon soundcloud">
			  				<i class="fa fa-soundcloud fa-2x"></i>
			  			</div>
			  		</div>
			  		<div class="date-wrapper">
			  			<input class="form-control" type="datetime" placeholder="Expiration Date" ng-model="exdate"> </input>
			  		</div>
			  		<div class="button-wrapper">
			  			<button ng-click="showShit()" class="btn btn-warning btn-lg" type="submit">Post</button>
			  		</div>
			  	</form>
		  	</div>
		  	<!-- <a ui-sref="forum">back</a> -->
		
		</script>

		<script type="text/ng-template" id="/edit.html">
			<div class="post-form-wrapper">

			<div class="back-div">
			  	<div class="back-box">
			  		<a ng-click="showShit()" ui-sref="forum"><span class="empty"></span></a>
			  		<i class="fa fa-arrow-left"></i>
			  		<a ng-click="showShit()" ui-sref="forum"><h3>Back</h3></a>
			  	</div>
			</div>
				<div ng-show="loadEdit(post)"></div>
			    <form ng-submit="editPost(post._id)">
			    	<div class="title-wrapper">
			  			<input class="form-control"type="text" placeholder="Title" ng-model="title"> </input>
			  		</div>
			  		<br>
			  		<div class="body-wrapper edit-mode">
			  			<textarea class="form-control edit-mode" froala="" id="edit" name="content" rows="15" cols="50" type="text" placeholder="Body" ng-model="bode"> </textarea>
			  		</div>
			  		<br>
			  		<div class="icon-wrapper">
			  			<div class="icon bomb">
			  			<i class="fa fa-bomb fa-2x"></i>
			  				<select class="setext" ng-model="bomb" ng-change="relDate(bomb)">
			  					<option value="null" selected>- None -</option>
			  					<option><span>Minute</span></option>
						        <option><span>Hour</span></option>
						        <option><span>Day</span></option>
						        <option><span>Month</span></option>
						    </select>
						
			  			</div>
			  			<div class="icon pencil">
			  				<i class="fa fa-pencil fa-2x"></i>
			  			</div>
			  			<div class="icon camera">
			  				<i class="fa fa-camera fa-2x"></i>
			  			</div>
			  			<div class="icon soundcloud">
			  				<i class="fa fa-soundcloud fa-2x"></i>
			  			</div>
			  		</div>
			  		<div class="date-wrapper">
			  			<input class="form-control" type="datetime" placeholder="Expiration Date" ng-model="exdate"> </input>
			  		</div>
			  		<div class="button-wrapper">
			  			<button ng-click="showShit()" class="btn btn-warning btn-lg" type="submit">Post</button>
			  		</div>
			  	</form>
		  	</div>
		</script>


		<script type="text/ng-template" id="/posts.html">
			<div class="post-wrapper">
			  <div class="content-wrapper">

			  <div class="back-div">
			  	<div class="back-box">
			  		<a ng-click="showShit()" ui-sref="forum"><span class="empty"></span></a>
			  		<i class="fa fa-arrow-left"></i>
			  		<a ng-click="showShit()" ui-sref="forum"><h3>Back</h3></a>
			  	</div>
			  </div>

			  	<div class="first-post">
				  <div class="page-header">
				  	<div class="profilepic-wrapper">
				  		<img ng-src="/uploads/{{post.user.profilepic}}" height="47" width="47" />
				  	</div>
				  	<div class="username-wrapper">
				  		<span class="username">{{post.user.username}}</span>
				  		<div class="edit-delete-wrapper">
					  		<div ng-show="isCreater(post.user._id)">  
					  		  <div class="in">
					  		  	<a ui-sref="forum.edit({id: post._id })">Edit</a> 
					  		  </div>
					  		  <div class="in">
					  		  	<form ng-submit="deletePost(post._id)">
							      <button type="submit" class="delete">Delete</button>
							    </form>
					  		  </div>
						    </div>
					  	</div>
				  	</div>
				  	
				  	<div class="title-wrapper">
						<h3> {{post.title}} </h3> 
				  	</div>
				  </div>
				  <div class="body-wrapper">
				  	<br> 
				  	<div class="body">
						<div ng-bind-html="post.bode"></div>
				  	</div>
				  </div>
				</div>

				  <div class="comment-wrapper" ng-repeat="commenter in post.comments | orderBy:'date'">
				  	<div class="page-header2">
					  	<div class="profilepic-wrapper" ng-if="commenter.user.profilepic">
				            <img ng-src="/uploads/{{commenter.user.profilepic}}" height="47" width="47" />
				        </div>

				        <div class="profilepic-wrapper" ng-if="!commenter.user.profilepic">
				            <img ng-src="/uploads/user.png" height="47" width="47" /> 
				        </div>

				        <div class="username-wrapper">
					  		<span class="username">{{commenter.user.username}}</span>
					  		<div class="edit-delete-wrapper">
						  		<div ng-show="isCreater(commenter.user._id)">  
						  		  <div class="in">
						  		  	<button ng-click='loadComment(commenter)' type="submit" class="btn btn-primary">Edit</button>
						  		  </div>
						  		  <div class="in">
						  		  	<form ng-submit="deletePost(commenter._id)">
								      <!-- <button type="submit" class="delete">Delete</button> -->
								    </form>
						  		  </div>
							    </div>
						  	</div>
					  	</div>
					</div>

				    <div class="comment-body"> 
				    	<p ng-bind-html="commenter.body"></p>
				    </div>
				  </div>
			  </div>

				<div class="reply-wrapper">
				  <div class="r2" ng-show="isEdit != null"> 
				  	  <form ng-submit="addEditComment(isEdit)">
					    <div class="comment-area">
					    	<textarea froala="edit2" class="form-control" froala="" id="edit" name="content" rows="4" cols="50" type="text" placeholder="Insert text here ..." ng-model="body"> </textarea>
					    </div>
					    <button type="submit" class="btn btn-primary">Save</button>
					  </form>
				  </div>

				  <div class="r2" ng-hide="isEdit != null">
				  	<form ng-submit="addComment()">
					    <div class="comment-area">
					    	<textarea froala="edit2" class="form-control" froala="" id="edit" name="content" rows="4" cols="50" type="text" placeholder="Insert text here ..." ng-model="body"> </textarea>
					    </div>
					    <div class="comment-footer">
					    	<div class="cb">
								<button type="submit" class="bu-post">Post</button>
							</div>
					    </div>
					    
				    </form>
				  </div>
				</div>

			</div>

		</script>


	</div>

  </body>

    
</html>
