<!doctype html>
<html>
<head>
	<title>DiscussOne | Profile</title>
	<meta charset="utf-8">
	<meta name="keywords" content="discussone profile, discussone profile, discuss one profile, discussone profile">
  	<meta name="description" content="Your Profile | DiscussOne">
  	<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
	<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style2.css">
    <link rel="stylesheet" href="/stylesheets/dist/style.css">
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/froala_editor.min.css" rel="stylesheet" type="text/css" />
  	<link href="/stylesheets/froala_style.min.css" rel="stylesheet" type="text/css" />
  	<script type='text/javascript' src='/javascripts/jquery-1.11.0.js'></script>
    <script type='text/javascript' src="/javascripts/angular.min.js"></script>
    <script type='text/javascript' src="/javascripts/angular-ui-router.min.js"></script>
    <script type='text/javascript' src='/javascripts/infinite.js'></script>
    <script src="/javascripts/froala_editor.min.js"></script>
    <script src="/javascripts/froala-sanitize.js"></script>
    <script src="/javascripts/angular-froala.js"></script>
    <script type='text/javascript' src="/javascripts/angular-sanitize.js"></script>
    <script type='text/javascript' src="/javascripts/moment.min.js"></script>
    <script type='text/javascript' src="/javascripts/ga.js"></script>
	<script type='text/javascript' src="/javascripts/angular-momentjs/angular-momentjs.js"></script>
    <script src="/javascripts/angularApp.js"></script>
    <base href="/" />
</head>
<body class="white" ng-app="forumBody" ng-controller="ProfileCtrl">
	<nav class="front top-nav">
	    		<div class="nav-content-wrapper">
		    		<div class="logo-wrapper">
	    			<a href="#"><img src="/images/discuss-one-logo-2.png" class="img-laptop" alt="DiscussOne Logo"></a>
	    			</div>

		    		<div class="account-wrapper">
		    			<div class="second-account">
		    				<div class="social">
			    				<a href="https://www.facebook.com/DiscussOne" target="_blank"><img src="/images/facebook-gray.png" class="img-laptop" alt="Facebook Icon"></a>
		    					<a href="https://twitter.com/discussone" target="_blank"><img src="/images/twitter-gray.png" class="img-laptop" alt="Twitter Icon"></a>
			    			</div>
			    			<ul>
			    				<li class="left" ng-show="!isLoggedIn()"><a href="/login" target="_self">Login</a></li>
							    <li class="right" ng-show="!isLoggedIn()"><a href="/signup" target="_self">Sign-up</a></li>
							    <li class="left" ng-show="isLoggedIn()"><a href="/profile"  target="_self">{{user.username}}</a></li>
							    <li class="right" ng-show="isLoggedIn()"><a href="/logout"  target="_self">logout</a></li>
							    
			    			</ul>
			    			
		    			</div>
		    		</div>
		    		<div class="account-wrapper-mobile">
		    			<div><a ng-click="showMobile()" href="javascript:void(0)">Menu</a></div>	    			
				    </div>
		    	</div>
	    </nav>
	<div class="main-content-wrapper pro">
		<ul class="mobile-menu">
			<li class="left" ng-show="!isLoggedIn()"><a href="/login" target="_self"><div>Login</div></a></li>
			<li class="right" ng-show="!isLoggedIn()"><a href="/signup" target="_self"><div>Sign-up</div></a></li>
			<li class="left" ng-show="isLoggedIn()"><a href="/profile"  target="_self"><div>{{user.username}}</div></a></li>
			<li class="right" ng-show="isLoggedIn()"><a href="/logout"  target="_self"><div>logout</div></a></li>
		</ul>
	    <div class="second-main-wrapper pro">
			<div class="container">
				<div class="page-header text-center">
					<h1><span class="fa fa-user"></span> {{user.username}}</h1>
					<a href="/logout" class="btn btn-default btn-sm">Logout</a>
				</div>
				<div>
					<ui-view></ui-view>
				<script type="text/ng-template" id="/profile.html">
					<div class="row">

							<!-- LOCAL INFORMATION -->
							<div class="col-sm-5">
								
								<ul class="well">
									<h3>User Settings</h3>
										<li>{{user.username}} - edit</li>
										<li>{{user.local.email}} - edit</li>
										<li>Password - edit</li>
										<li><img ng-src="/uploads/{{user.profilepic}}" height="47" width="47" /> - edit</li>
								</ul>
							</div>
							<div class="col-sm-7">
								<div class="well">
									<h3>Forum Settings</h3>
									<table>
										<tr> 
											<th>Name</th> 
											<th style="padding-left:100px;"> Settings </th>
										</tr>
										  	<tr ng-repeat="forums in userforums | orderBy:'date'">
												<td> <a href="/{{forums.url}}" target="_self">{{forums.title}} </a> </td>
												<td style="padding-left:100px;"> <a href="#" target="_self"> edit </a></td>
											</tr>
									</table>
								</div>
							</div>
						</div>
				</script>
				</div>
			</div>
	   	</div>
	</div>
</body>
</html>
