
$total-columns			: 12;
$column-width			: 4em;
$gutter-width			: 1em;
$grid-padding			: $gutter-width;
$bg-img: image-url('bg-pattern-690-717.png', false, false);
$bg-img2: image-url('bg-pattern2-690-717.png', false, false);
$laptop-img: image-url('laptop2-837-500.png', false, false);

$toy2 : 1px solid #7D7D7D;
$toy : none;
//@include border-box-sizing;
@include font-face("soft", font-files("LaoUI.ttf", "LaoUI.eot"));
@include font-face("thin", font-files("DistProTh.otf", "DistProTh.eot"));
@include font-face("stag", font-files("STAGSANS-LIGHT.otf"));
@include font-face("open", font-files("OpenSans-Regular.ttf"));
@include font-face("HellCon", font-files("HelveticaLTStd-Cond.otf"));
@include font-face("HellNewCon", font-files("HelveticaNeueLTStd-Cn.otf"));
@include font-face("HellNewLightCon", font-files("HelveticaNeueLTStd-LtCn.otf"));
// Landing Page
.html{
	background-color: #333333;
	-webkit-font-smoothing: antialiased;

}
body{
	background-color: #333333;
	@include animation(fadeIn 1s);
}
body.main-app{
	background-color: white;
}
body.main-app.pat{
	// background-color: white;
	// @include background-image('bg-pattern2-690-717');
 //  	background-repeat: repeat;
  //@include background-image(linear-gradient(white, white 5%, #eee 70%, #eee));
  @include background-image(linear-gradient(white 1%, #F0F0F0 25%, #F0F0F0));

}
body.white{
	background-color: white;
}
nav{
		//background-color: #555555;
		//background-color: #333333;
		background-color: #404040;
		height: 60px;
		width: 100%;
		
		@include breakpoint(phablet) {height: 50px;}
		@include breakpoint(mobileonly) {height: 45px;}
		.nav-content-wrapper{
			width: 80%;
			height: 40px;
			
			padding-top: 10px;
			@include breakpoint(tablet) {padding-top: 8px;}
			@include breakpoint(phablet) {padding-top: 5px;}
			@include breakpoint(mobileonly) { padding-top: 4px;}
			margin-right:auto;
			margin-left:auto;
		}
		.logo-wrapper{
			img{
				@include breakpoint(tablet) {width:250px;}
				@include breakpoint(phablet) {width:220px;}
				@include breakpoint(mobileonly) {width:100%;}
			}
			display: inline-block;
			margin-top: -2px;
			@include breakpoint(tablet) {margin-top: 3px;}
			@include breakpoint(mobileonly) {width:70%;}
		}
		.account-wrapper-mobile{
			display: none;
			@include breakpoint(phablet) {width:25%;display: inline-block;}
			@include breakpoint(mobileonly) {width:25%;display: inline-block;}
		}
		.account-wrapper{
			@include breakpoint(phablet) {display: none;}
			@include breakpoint(mobileonly) { display: none;}
			float: right;
			display: inline-block;
			.second-account{
				width: 100%;
				float: right;
				padding-top:5px;
			}
			a{
				font-size: 20px;
				@include breakpoint(phablet) {font-size: 17px;}
				@include breakpoint(mobileonly) {font-size: 14px;}
				font-family: "soft";
				color: #7D7D7D;
				//color: #A8A8A8;
			}
			ul{
				display: inline-block;
				vertical-align: top;
				padding-top: 5px;
				@include breakpoint(mobileonly) {padding-top: 0;}
				float: right;
			}
			li{
				display: inline-block;
				list-style-type:none;
				
			}
			li.right{
				padding-left: 7px;
			}
			li.left{
				border-right: 1px solid #7D7D7D;
				padding-right:10px;
			}
			.social{
				display: inline-block;
				padding-left:10px;
				float: right;
				img{
					width: 35px;
					margin-left:10px;
					@include breakpoint(phablet) {width: 25px;margin-left:8px;}
					@include breakpoint(mobileonly) { width: 21px;margin-left:6px;}
				}
			}
		}
	}
.account-wrapper-mobile{
	display: none;
	vertical-align: top;
	margin-top: 4px;
	float: right;
	@include breakpoint(phablet) {width:25%;display: inline-block;}
	@include breakpoint(mobileonly) {width:25%;display: inline-block;}
	div{
		background-color: #5FC6FF;
		@include transition(background-color 0.3s ease);
		width: 70px;
		border-radius: 6px;
		height: 33px;
		@include breakpoint(mobileonly) {height: 30px;}
		margin-right: 5%;
		color: white;
		font-size: 21px;
		border: 0;
		padding: 5px 1px 0 10px;
		@include breakpoint(mobileonly) {padding: 4px 1px 0 10px;}
		a{
			font-family: "soft";
			color: white;
			text-decoration: none;
			font-size: 20px;
		}
	}
	div:hover{
		background-color: #0CA7FB;
	}
}
ul.mobile-menu{
	@include transition(all 1s ease);
	display: none;
	// @include breakpoint(phablet) {display: block;}
// @include breakpoint(mobileonly) {display: block;}
	li{
		width: 100%;
		@include transition(background-color 0.3s ease);
		background-color: #5FC6FF;
		a{
			text-decoration: none;
			div{
				padding: 10px 10px 10px 30px;
				color: white;
				font-size: 35px;
				font-family: "soft";
			}
		}
	}
	li:hover{
		background-color: #0CA7FB;
	}
}
h1.contact-us{
	padding: 20px;
	font-size: 30px;
	font-family: "thin";
	
}
.main-front-wrapper{
	//background-color:white;
	background-color: #333333;
	nav{
		//background-color: #555555;
		//background-color: #333333;
		background-color: #404040;
		height: 60px;
		width: 100%;
		@include breakpoint(phablet) {height: 50px;}
		@include breakpoint(mobileonly) {height: 45px;}
		.nav-content-wrapper{
			width: 80%;
			height: 40px;
			
			padding-top: 10px;
			@include breakpoint(tablet) {padding-top: 8px;}
			@include breakpoint(phablet) {padding-top: 5px;}
			@include breakpoint(mobileonly) { padding-top: 4px;}
			margin-right:auto;
			margin-left:auto;
		}
		.logo-wrapper{
			img{
				@include breakpoint(tablet) {width:250px;}
				@include breakpoint(phablet) {width:220px;}
				@include breakpoint(mobileonly) {width:100%;}
			}
			display: inline-block;
			margin-top: -2px;
			@include breakpoint(tablet) {margin-top: 3px;}
			@include breakpoint(mobileonly) {width:70%;}
		}
		
		.account-wrapper{
			@include breakpoint(phablet) {display: none;}
			@include breakpoint(mobileonly) { display: none;}
			float: right;
			display: inline-block;
			.second-account{
				width: 100%;
				float: right;
				padding-top:5px;
			}
			a{
				font-size: 20px;
				@include breakpoint(phablet) {font-size: 17px;}
				@include breakpoint(mobileonly) {font-size: 14px;}
				font-family: "soft";
				color: #7D7D7D;
				//color: #A8A8A8;
			}
			ul{
				display: inline-block;
				vertical-align: top;
				padding-top: 5px;
				@include breakpoint(mobileonly) {padding-top: 0;}
				float: right;
			}
			li{
				display: inline-block;
				list-style-type:none;
				
			}
			li.right{
				padding-left: 7px;
			}
			li.left{
				border-right: 1px solid #7D7D7D;
				padding-right:10px;
			}
			.social{
				display: inline-block;
				padding-left:10px;
				float: right;
				img{
					width: 35px;
					margin-left:10px;
					@include breakpoint(phablet) {width: 25px;margin-left:8px;}
					@include breakpoint(mobileonly) { width: 21px;margin-left:6px;}
				}
			}
		}
	}

	.main-content-wrapper{
		background-color:white;
		@include background-imager('bg-pattern-690-717');
	  	background-repeat: repeat;
	  	
		.front.cheesy-sentance{
			//height: 85px;
			margin-bottom: 20px;
			@include animation(fadeIn 1s);

			padding-top: 30px;
			width: 90%;
			@include breakpoint(laptop) {width: 95%;}
			margin-left: auto;
			margin-right: auto;
			font-size: 48px;
			@include breakpoint(laptop) {font-size: 42px;margin-bottom: 15px;padding-top: 20px;}
			@include breakpoint(tablet) {font-size: 38px;margin-bottom: 15px;padding-top: 10px;}
			@include breakpoint(phablet) {font-size: 25px;margin-bottom: 15px;padding-top: 10px;}
			@include breakpoint(mobileonly) { font-size: 18px;margin-bottom: 15px;padding-top: 10px;}
			font-weight: thin;
			text-align: center;
			font-family: "thin";
			h1{
				background: rgba(255,255,255, 0.16);
			}
		}
		.second-main-wrapper{
			width: 90%;
			max-width: 1300px;
			@include breakpoint(laptop) {width: 95%;}
			@include breakpoint(tablet) {width: 95%;}
			@include breakpoint(phablet) {width: 95%;min-height: 1000px;}
			@include breakpoint(mobileonly) { width: 98%;min-height: 1000px;}

			margin-left: auto;
			margin-right: auto;
			border: $toy;
			min-height: 520px;
			@include breakpoint(laptop) {
				
			}
			.front.info-wrapper{
				float: left;
				//height: 700px;
				width: 67%;
				padding: 10px 10px 10px 10px;
				@include breakpoint(laptop) {width: 64%; padding: 5px 5px 5px 5px;}
				@include breakpoint(tablet) {width: 55%; padding: 5px 5px 5px 5px;}
				@include breakpoint(phablet) {width: 90%; padding: 3px 3px 3px 3px;margin: 0 auto; display: block;  width: 100%;}
				@include breakpoint(mobileonly) {width: 90%; padding: 3px 3px 3px 3px;margin: 0 auto; display: block; width: 100%;}

				//background-color: pink;
				display: inline-block;
				vertical-align: top;
				border: $toy;
				//@include breakpoint(laptop) {float: right;}
				.laptop-i-cant-afford{
					@include animation(fadeIn 1s);
					border: $toy;
					margin: 10px 10px 10px 10px;
					width: 70%;
					@include breakpoint(laptop) {width: 65%; margin: 10px 5px 10px 5px;}
					@include breakpoint(tablet) {width: 100%; margin: 10px 5px 10px 5px;}
					@include breakpoint(phablet) {width: 100%; margin: 10px 5px 10px 5px;}
					@include breakpoint(mobileonly) {width: 100%; margin: 10px 5px 10px 5px;}
					padding-top:30px;
					img{
						width: 100%;
					}
					display: inline-block;
				}
				.more-bs{
					@include animation(fadeIn 1s);
					vertical-align: top;
					border: $toy;
					margin: 100px 2px 10px 7px;
					@include breakpoint(laptop) {margin: 70px 2px 10px 7px;}
					@include breakpoint(tablet) {width: 90%; margin: 10px 2px 10px 5%;}
					@include breakpoint(phablet) {margin: 10px 2px 10px 7px;}
					@include breakpoint(mobileonly) {margin: 10px 2px 10px 7px;}
					//width: 25%;
					display: inline-block;
					ul{
						@include breakpoint(tablet) {display: block; text-align: center;}
					}
					h2{
						font-size: 26px;
						line-height: 50px;
						@include breakpoint(laptop) {font-size: 26px;line-height: 50px;}
						@include breakpoint(tablet) {font-size: 26px;line-height: 40px;}
						@include breakpoint(phablet) {font-size: 26px;line-height: 30px;}
						@include breakpoint(mobileonly) {font-size: 26px;line-height: 30px;}
						
						font-weight: thin;
						font-family: "thin";
						
					}
				}
			}
			.front.form-wrapper{
				//float: right;
				@include animation(fadeIn 1s);
				margin: 20px 20px 20px 20px;
				@include breakpoint(laptop) {margin: 10px 10px 10px 10px;}
				padding: 25px 2% 25px 2%;
				border-radius: 3px;
				//height: 600px;
				width: 28%;
				max-width: 300px;
				@include breakpoint(laptop) {width: 33%;}
				@include breakpoint(tablet) {width: 40%;}
				@include breakpoint(phablet) {width: 90%; display: block;margin: 0 auto;}
				@include breakpoint(mobileonly){ width: 90%; display: block;margin: 0 auto;}
				background: rgba(230,230,230, 0.55);
				display: inline-block;
				font-family: "soft";
				
				label{
					display: block;
					font-size: 16px;
					font-weight: bold;
					padding-left: 10px;
					@include breakpoint(laptop) {
						font-size: 14px;
						font-weight: bold;
						padding-left: 6px;
					}
					@include breakpoint(laptop) {}
					@include breakpoint(tablet) {}
					@include breakpoint(phablet) {}
					@include breakpoint(mobileonly) {}
				}
				.faketb{
					background-color:white;
					border: 1px solid black;
					margin-top: 6px; 
					margin-bottom: 10px;
					border-radius: 3px;
					input{
						margin: 3px 3px 3px 3px;
						display: inline-block;
						border:none;
						background-color:inherit;
						font-size: 19px;
						max-width: 80%;
						@include input-placeholder {
						    padding-top:2px;
						  }
					}
					i{
						display: inline-block;
						margin-left: 3px;
						max-width: 9%;
						vertical-align: top;
						padding: 9px 23px 1px 7px;
						font-size: 1.3rem;
					}
					i.fa-lock{
						padding: 9px 20px 1px 10px;
					}
					i.fa-user{
						padding: 9px 20px 1px 10px;
					}
				}
				label.url{
					display: inline-block;
					font-weight: normal;
					padding-left:0;
				}
				.input.url .form-group{
					margin-bottom: 19px;
					margin-top: -6px;
					
					input.text.url{
						display: inline-block;
						width: 50%;
						border:none;
						background-color:inherit;
						text-decoration: underline;
						margin-left: -2px;
					}
					span.errorMessage{
						display: block;
					}
				}
				.input.url .form-group.two{
					margin-bottom: 1px;
					margin-top: 0;
				}
				a.options{
					float: right;
					color: grey;
					width: 100%;
					text-align: right;
					margin-bottom: 14px;
					span{
						color: grey;
						font-weight: normal;
					}
				}
				.input.access{
					display: none;
					margin-bottom: 25px;
					label span{
						color: grey;
						font-weight: normal;
					}
				}
				input.text:required{
					border:none;
					box-shadow:none;
				}
				.input.reg{
					display: none;
				}
				.input.anon{
					display: none;
				}
				.submit-button{
					margin-left:auto;
					margin-right:auto;
					width: 220px;
				}
				button.submit{
					background-color: #5FC6FF;
					@include transition(background-color 0.3s ease);
					width: 220px;
					border-radius: 6px;
					height: 43px;
					margin-left: auto;
					margin-right: auto;
					color: white;
					font-size: 21px;
					border: 0;
				}
				button.submit:hover{
					background-color: #0CA7FB;
					cursor: pointer;
				}

			}
		}
		



	}
	.front.first-footer{
		background-color: #555555;
		height: 65px;
		width: 100%;
		padding-top: 10px;
		.foot{
			width: 160px;
			height: 43px;
			border-radius: 4px;
			margin-left: auto;
			margin-right:auto;
			background-color: #7F7F7F;
			.f{
				padding: 11px 9px 9px 14px;
			}
			a{
				width: 160px;
				height: 43px;
				padding: 5px 5px 5px 5px;
				color: white;
				font-size: 18px;
				border: 0;
				font-family: "soft";
			}
		}
	}
	.front.last-footer{
		background-color: #333333;
		height: 60px;
		width: 100%;
		.last-wrap{
			margin-left: auto;
			margin-right:auto;
			padding-top:22px;
			width: 50%;
			ul{
				display: block; 
				text-align:center;
				li{
					display: inline-block;
					padding-left: 10px;
					a{
						font-size: 12px;
						font-family: "soft";
						//color: #7D7D7D;
						color: #7D7D7D;
					}
				}
				li.left{
					border-right: 1px solid #7D7D7D;
					padding-right:10px;
				}
			}
		}
	}
}
///////////////////////////////////////////////////////////////////////////////////////////////////////

// Popular Page
.second-main-wrapper.pop{
	width:50% !important;
	@include breakpoint(laptop) {width: 50% !important;}
	@include breakpoint(tablet) {width: 60% !important;}
	@include breakpoint(phablet) {width: 100% !important;}
	@include breakpoint(mobileonly) {width: 100% !important;}
}
.pop-table{
	@include animation(fadeIn 1s);
	padding:20px 20px 20px 20px;
	table caption{
		font-family: "thin";
		font-size: 30px;
		margin-bottom: 20px;
		text-align: center;
	}
	table a:link {
		color: #666;
		text-decoration:none;
	}
	table a:visited {
		color: #999999;
		text-decoration:none;
	}
	table a:active,
	table a:hover {
		color: #bd5a35;
		text-decoration:underline;
	}
	table {
		font-family:"soft";
		font-size: 19px;
		color:#666;
		font-size:12px;
		background:#eaebec;
		border:1px solid #e0e0e0;
		width: 100%;
	}
	table th {
		padding:10px 25px 10px 25px;
		border-top:1px solid #e0e0e0;
		border-bottom:1px solid #e0e0e0;
		font-family:"thin";
		font-size: 24px;
		background: #ededed;
		text-align:center;
		
	}
	table th.po-cell{
			width: 100px;
		}
	table th:first-child {
		padding-left:20px;
	}
	table tr:first-child th:first-child {
		-moz-border-radius-topleft:3px;
		-webkit-border-top-left-radius:3px;
		border-top-left-radius:3px;
	}
	table tr:first-child th:last-child {
		-moz-border-radius-topright:3px;
		-webkit-border-top-right-radius:3px;
		border-top-right-radius:3px;
	}
	table tr {
		text-align: center;
		padding-left:20px;
	}
	table td:first-child {
		text-align: left;
		padding-left:20px;
		border-left: 0;
		
	}
	table td {
		padding:10px;
		border-top: 1px solid #ffffff;
		border-bottom:1px solid #e0e0e0;
		border-left: 1px solid #e0e0e0;
		background: #fafafa;
		font-size: 18px;
		a{
			font-size: 18px;
		}
	}
	table td.po-cell{
		text-align:center;
	}
	table tr.even td {
		background: #f6f6f6;
	}
	table tr:last-child td {
		border-bottom:0;
	}
	table tr:last-child td:first-child {
		-moz-border-radius-bottomleft:3px;
		-webkit-border-bottom-left-radius:3px;
		border-bottom-left-radius:3px;
	}
	table tr:last-child td:last-child {
		-moz-border-radius-bottomright:3px;
		-webkit-border-bottom-right-radius:3px;
		border-bottom-right-radius:3px;
	}
	table tr:hover td {
		background: #f2f2f2;
	}
}
.pop-back{
	.front.first-footer{
		background-color: #555555;
		height: 65px;
		width: 100%;
		padding-top: 10px;
		.foot{
			width: 160px;
			height: 43px;
			margin-left: auto;
			margin-right:auto;
			background-color: #7F7F7F;
			.f{
				padding: 11px 9px 9px 14px;
			}
			a{
				width: 160px;
				height: 43px;
				padding: 5px 5px 5px 5px;
				color: white;
				font-size: 18px;
				border: 0;
				font-family: "soft";
			}
		}
	}
}


///////////////////////////////////////////////////////////////////////////////////////////////////////

// Main forum page

body.main-app{

	
	.content-wrapper{

		//background-color:yellow;
		.sidebar-wrapper{
			// This stuff is added
			position: relative;
			height: 100vh;
			//end
			@include transition(all 0.3s ease-in-out);
			transition: display 1s linear;
			display: inline-block;
			vertical-align: top;
			width: 36%;
			@include breakpoint(laptop) {width: 32%;}
				@include breakpoint(tablet) {width: 32%;}
				@include breakpoint(phablet) {width: 100%;}
				@include breakpoint(mobileonly) {width: 100%;}
				.logo-wrapper{
					position: relative;
					width: 82%;
					margin: 0 auto;
					margin-top: 12px;
					overflow: auto;
					min-height: 32px;
					@include breakpoint(laptop) {width: 80%;}
				@include breakpoint(tablet) {width: 80%;}
				@include breakpoint(phablet) {width: 100%;height: 20px;padding: 2px 5px 2px 5px;}
				@include breakpoint(mobileonly) {width: 100%;height: 20px;padding: 2px 5px 2px 5px;}
					h1{
						font-size: 55px;
						@include breakpoint(tablet) {font-size: 28px;margin-top: 7px;}
						@include breakpoint(phablet) {font-size: 18px;margin-top: 9.5px;}
						@include breakpoint(mobileonly) { font-size: 14px;margin-top: 7px;}
						color: black;
						//font-family: sans-serif;
						font-family: "stag";
					}
				}
			.sidebar-buttons{
				position: relative;
				width: 82%;
				margin: 0 auto;
				margin-top: 9px;
				@include breakpoint(laptop) {width: 80%;}
				@include breakpoint(tablet) {width: 80%;}
				@include breakpoint(phablet) {width: 100%;height: 20px;padding: 2px 5px 2px 5px;}
				@include breakpoint(mobileonly) {width: 100%;height: 20px;padding: 2px 5px 2px 5px;}
				.search{
					@include breakpoint(laptop) {margin-left: 3%;}
					@include breakpoint(tablet) {margin-left: 1%;}
					@include breakpoint(phablet) {margin-left: 9%;}
					@include breakpoint(mobileonly) {margin-left: 9%;}
					display: inline-block;
					margin-left: 7%;
					margin-top: -2px;
					vertical-align: top;
					i.fa{
						font-size: 15px;
					}
					input{
						width: 78px;
						@include breakpoint(tablet) {width: 50px;}
						border: 0;
						background: none;
						border-bottom: 1px solid black;
					}
				}
				.categories{
					@include breakpoint(laptop) {margin-left: 5%;}
					@include breakpoint(tablet) {margin-left: 1%;}
					@include breakpoint(phablet) {margin-left: 9%;}
					@include breakpoint(mobileonly) {margin-left: 9%;}
					vertical-align: top;
					display: inline-block;
					margin-left: 7%;
					a{
						@include breakpoint(laptop) {font-size: 15px;}
						@include breakpoint(tablet) {font-size: 15px;}
						font-family: "open";
						font-size: 20px;
						color: black;
					}
					a:hover{
						text-decoration: none;
					}
				}
				.post{
					@include breakpoint(laptop) {margin-left: 5%;}
					@include breakpoint(tablet) {margin-left: 1%;}
					@include breakpoint(phablet) {margin-left: 14%;}
					@include breakpoint(mobileonly) {margin-left: 14%;}
					display: inline-block;
					margin-left: 7%;
					vertical-align: top;
					a{
						@include breakpoint(laptop) {font-size: 15px;}
						@include breakpoint(tablet) {font-size: 15px;}
						font-family: "open";
						font-size: 20px;
						color: black;
					}
					a:hover{
						text-decoration: none;
					}
				}
			}
			.post-list-wrapper{
				@include animation(fadeIn 0.75s);
				border: 1px solid #E4E4E2;
				border-radius: 3px;
				width: 82%;
				@include breakpoint(laptop) {width: 25%;}
				@include breakpoint(tablet) {width: 25%;}
				@include breakpoint(phablet) {width: 100%; top: 90px;}
				@include breakpoint(mobileonly) {width: 100%; top: 90px;}
				overflow-x: hidden;
				overflow-y: hidden;
				position: absolute;
				top: 102px;
				bottom: 20px;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				// top: 50%; 
			 //    left: 50%;
			 //    transform: translate(-50%, -50%);
			}
			.post-list{
				// height: 80%;
				// overflow: auto;
				position: relative;
				background-color: white;
				.active{
					border: 1px solid #5FC6FF !important;
				}
				.post-link-wrapper{
					@include transition(background-color 0.5s ease);
					height: 57px;
					padding: 19px 2% 0 4%;
					@include breakpoint(laptop) {height: 57px; padding: 19px 2% 0 4%;}
					@include breakpoint(tablet) {height: 57px; padding: 19px 2% 0 4%;}
					@include breakpoint(phablet) {height: 50px; padding: 15px 2% 0 4%;}
					@include breakpoint(mobileonly) {height: 50px; padding: 15px 2% 0 4%;}
					position:relative;
					border-bottom: 1px solid #F7F7F7;
					border-radius: 3px;
					a.po-link{}
						span.empty{
							position:absolute; 
							  width:100%;
							  height:100%;
							  top:0;
							  left: 0;
							  z-index: 1;
							  background-image: image-url('empty.gif', false, false);
						}
					.post-link{
						font-size: 18px;
						//font-family: "thin";
						font-family: "HellCon";
						//font-family: "HellNewCon";
						//font-family: "HellNewLightCon";
						color: black;
						text-decoration: none;
						width: 100%;
						display: inline-block;
						padding-bottom: 4px;
						/* cut-off text */
						text-overflow: ellipsis;
					    white-space: nowrap;
					    overflow: hidden;
					    @include breakpoint(laptop) {font-size: 22px;}
						@include breakpoint(tablet) {font-size: 14px;}
						@include breakpoint(phablet) {font-size: 16px;}
						@include breakpoint(mobileonly) {font-size: 14px;}
					}
					.post-meta{
						width: 100%;
						float: right;
						display: inline-block;
						color: #8A8A8A;
						font-size: 10px;
						font-family: "soft";
						margin-right: 25px;
						span.username{
							display: inline-block;
							float: right;
						}
						span.date{
							margin-left: 10px;
							display: inline-block;
							float: right;
						}
					}
				}
				.post-link-wrapper:hover{
					background-color: #F4FAFF;
				}
			}
		}
		.info-wrapper{
			display: inline-block;
			z-index: 2;
			width: 61%;
			//height: 100vh;
			margin-left: -4px;
			position: relative;
			nav.front.top-nav{
				//background-color: #555555;
				//background-color: #333333;
				position: relative;
				z-index: 10;
				background-color: transparent;
				height: 30px;
				width: 100%;
				@include breakpoint(phablet) {height: 50px;}
				@include breakpoint(mobileonly) {height: 50px;}
				.nav-content-wrapper{
					width: 82%;
					height: 40px;
					
					padding-top: 4px;
					@include breakpoint(tablet) {padding-top: 4px;}
					@include breakpoint(phablet) {padding-top: 4px;}
					@include breakpoint(mobileonly) { padding-top: 4px;}
					margin-right:auto;
					margin-left:auto;
				}
				
				.account-wrapper{
					float: right;
					width: 80%;
					display: inline-block;
					.second-account{
						width: 100%;
						float: right;
					}
					a{
						font-size: 14px;
						@include breakpoint(phablet) {font-size: 17px;}
						@include breakpoint(mobileonly) {font-size: 14px;}
						font-family: "soft";
						color: #7D7D7D;
						//color: #A8A8A8;
					}
					ul{
						display: inline-block;
						vertical-align: top;
						padding-top: 1px;
						@include breakpoint(mobileonly) {padding-top: 0;}
						float: right;
					}
					li{
						display: inline-block;
						list-style-type:none;
					}
					li.right{
						padding-left: 7px;
					}
					li.left{
						border-right: 1px solid #7D7D7D;
						padding-right:10px;
					}
					.social{
						display: inline-block;
						padding-left:10px;
						float: right;
						img{
							width: 35px;
							margin-left:10px;
							@include breakpoint(phablet) {width: 25px;margin-left:8px;}
							@include breakpoint(mobileonly) { width: 21px;margin-left:6px;}
						}
					}
				}
			} // NAV END
			.admin-panel{
				background-color:white;
				border: 2px dashed #E4E4E2;
				border-radius: 3px;
				padding: 5px;
				position: fixed;
				top: 31px;
				width: 60%;
				span.gear{ display:inline-block; }
				ul{
					color: #707070;
					font-family: "thin";
					a{
						color: #707070;
					}
					li.admin-first{
						font-size: 25;
  						padding-left: 6%;
  						width: 20%;
  						i{
  							display: inline-block;
  						}
  						div{
  							padding-left: 11%;
  							display: inline-block;
  						}
					}
					li{
						display: inline-block;
						font-size: 20px;
						padding-left: 4%;
					}
					li.ad-settings{
						padding-left:7%;
					}
				}
			}
			.settings-container{
				top: 84;
				background-color:white;
				border: 1px solid #E4E4E2;
				border-radius: 3px;
				padding: 11px;
				position: fixed;
				width: 60%;
				.post-image{
					width:26em;
				}
				.ad-set{
					padding:30px;
					padding-bottom:0;
					padding-top: 0;
					input.form-control{
					  width: 200px;
					  margin: 20px;
					  display: inline;
					}
				}
				.forum-name{padding-top:20px;}
				.forum-cat{padding-top:20px;}
				.forum-req{padding-top:10px;}
				.forum-vis{
					padding: 20px;
					padding-left:30px;
					.rad-con.private{
						display: inline-block;
					}
					.rad-con.first{
						margin-top: 20px;
						margin-left: 20px;
					}
					.rad-con.second{
						margin-left: 20px;
						input{
							margin-top: 10px;
						}
					}
					.rad-con.third{
						input{
							margin-top: 10px;
						}
					}
				}
				.cat-form{
					padding-top: 4px;
				}
				.cat-repeat{
					  width: 48%;
					  margin-left: 13%;
					  margin-top: 14px;
					li{
						font-size: 23px;
						font-family: "HellCon";
						color: black;
						display: inline;
					}
					a{
						float: right;
						color: red;
						font-size: 23px;
						font-family: "HellCon";
						text-decoration: none !important;
  						cursor: pointer;
					}
					a:hover{
						color: #B20000;
					}
				}
				

				label{
					font-family: "thin";
					font-size: 31px;
				}
			}

			.post-wrapper{
				@include animation(fadeIn 0.75s);
				
				.content-wrapper{

					background-color:white;
					bottom: 109;
					border: 1px solid #E4E4E2;
					border-radius: 3px;
					padding: 11px;
					position: fixed;
					overflow: auto;
					overflow-x: hidden;
					overflow-y: auto;
					top: 34;

					@include breakpoint(phablet) {top: 50;}
					@include breakpoint(mobileonly) {top: 50;}
					width: 64%;
					
					.first-post{
						//border-bottom: 1px solid #F2F2F2;
						.page-header{
							height: 47px;
							border: 0;
							margin: 0;
							.profilepic-wrapper{
								width: 47px;
								display: inline-block;
								img{
									opacity: 0.67;
								}
							}
							.username-wrapper{
								font-family: "soft";
								font-size: 11px;
								color: #878787;
								width: 15%;
								display: inline-block;
								vertical-align: top;
								padding-top:8px;
								.in{
									display: inline-block;
									width: 30px;
								}
								a{
									font-family: "soft";
									font-size: 11px;
									color: #878787;
									width: 10%;
									text-decoration: none;
								}
								a:hover{
									text-decoration: underline;
								}
								button{
									background: transparent;
									border:0;
								}
								button:hover{
									text-decoration: underline;
								}
							}
							.edit-delete-wrapper{
								width: 100%;
								padding-top: 5px;
								display: none;
							}
							.title-wrapper{
								width: 62%;
								text-align: center;
								display: inline-block;
								font-family: "thin";
								font-size:28px;
								vertical-align: top;
								padding-top: 5px;
								// text-overflow: ellipsis;
							 //    white-space: nowrap;
							 //    overflow: hidden;
							  //  height: 50px;
							    font-size: 28px;
							    h3{
							    	  padding-bottom: 4px;
							    	  font-size: 28px;
									  // text-overflow: ellipsis;
									  // white-space: nowrap;
									  // overflow: hidden;
									  //width: 100%;
							    }
							}
						}
						.body-wrapper{
							p{
								word-wrap: break-word;
							}
							span{
								 word-wrap: break-word;
							}
							width: 80%;
							margin-right: auto;
							margin-left: auto;
							font-family: "soft";
							font-size: 14px;
							margin-bottom: 20px;
							h1{
								font-size: 26px;
							}
							h2{
								font-size: 24px;
							}
							h3{
								font-size: 22px;
							}
							h4{
								font-size: 20px;
							}
							em{
								font-style: italic;
							}
							strong{
								font-weight: bold;
							}
							blockquote {
							  background: #f9f9f9;
							  border-left: 10px solid #ccc;
							  margin: 1.5em 10px;
							  padding: 0.5em 10px;
							  quotes: "\201C""\201D""\2018""\2019";
							  font-family: "times-new-roman";
							}
							blockquote:before {
							  color: #ccc;
							  content: open-quote;
							  font-size: 4em;
							  line-height: 0.1em;
							  margin-right: 0.25em;
							  vertical-align: -0.4em;
							}
							blockquote p {
							  display: inline;
							}
						}
						form{
							.title-wrapper{
								width: 60%;
								text-align: center;
								display: inline-block;
								vertical-align: top;
								padding-top: 12px;
							    input{
									text-align: center;
									font-family: "thin";
									font-size:24px;
								}
							}
							.butt-wrap{
								display: inline-block;
								vertical-align: top;
								padding-top: 16px;
  								padding-left: 33px;
							}
							button.save-edit{
								border: none;
								background: none;
								font-size: 27px;
							}
							.body-wrapper{
								width: 93% !important;
								span.fr-placeholder{
									display: none;
								}
							}
						}
					}
					.first-post:hover{
						.edit-delete-wrapper{
							display: inline-block;
						}
					}
					.comment-wrapper{
						border-top: 1px solid #FAFAFA;
						.page-header2{
							height: 47px;
							border: 0;
							margin-bottom: 0;
							.profilepic-wrapper{
								width: 47px;
								height: 47px;
								display: inline-block;
								img{
									opacity: 0.67;
								}
							}
							.username-wrapper{
								font-family: "soft";
								font-size: 11px;
								color: #878787;
								width: 15%;
								display: inline-block;
								vertical-align: top;
								padding-top:8px;
								.in{
									display: inline-block;
									width: 30px;
								}
								a{
									font-family: "soft";
									font-size: 11px;
									color: #878787;
									width: 10%;
									text-decoration: none;
								}
								a:hover{
									text-decoration: underline;
								}
								button{
									background: transparent;
									border:0;
									padding:0;
									margin: 0;
									font-family: "soft";
									font-size: 11px;
									color: #878787;
								}
								button:hover{
									text-decoration: underline;
								}
							}
							.edit-delete-wrapper{
								width: 100%;
								padding-top: 5px;
								display: none;
							}
						}
						.comment-body{
							width: 80%;
							margin-right: auto;
							margin-left: auto;
							font-family: "soft";
							font-size: 14px;
							margin-bottom: 20px;
							p{
								word-wrap: break-word;
							}
							span{
								 word-wrap: break-word;
							}
						}
					}
					.comment-wrapper:hover{
						.edit-delete-wrapper{
							display: inline-block;
						}
					}
				}
				.admintop{ top: 83;}
				.reply-wrapper{
					width: 60%;
					padding: 20px;
					@include breakpoint(laptop) {width: 80%;}
					@include breakpoint(tablet) {width: 80%;}
					@include breakpoint(phablet) {width: 100%;}
					@include breakpoint(mobileonly) {width: 100%;}
					overflow-x: hidden;
					overflow-y: auto;
					position: fixed;
					bottom: 0;
					margin-right: auto;
					margin-left: auto;
					background-color:#F0F0F0;
					.r2{
						
						margin: 0;
						@include breakpoint(phablet) {margin: 0 auto;}
						@include breakpoint(mobileonly) {margin: 0 auto;}
						form{
							.comment-area{
								display: inline-block;
								border: 1px solid #E4E4E2;
  								border-radius: 3px;
  								width: 85%;
  								background-color:#FAFAFA;
							}
							.comment-button{
								vertical-align: top;
  								padding: 23px 20px 20px 20px;
								display: inline-block;
								width: 14%;
								button{
									font-size: 26px;
									border: none;
  									background: none;
								}
							}
							
							margin-right: auto;
							margin-left: auto;
							width: 80%;
							@include breakpoint(phablet) {width:100%;}
							@include breakpoint(mobileonly) {width:100%;}
							.froala-element{
								height: 75px;
							}
						}
						.comment-footer{
							background-color:#F0F0F0;
							.cb{
								text-align: right;
							}
							button{
								width: 70px;
								border: solid 2px #252525;
								background-color:#EDEDED;
								font-family: "soft";
								font-size: 19px;
								font-weight: bold;
								color: black;
								height: 27px;
							}
						}
					}
				}
			}

		}
		.sidebar-wrapper.post-mode{
			
			@include breakpoint(phablet) {display: none;}
			@include breakpoint(mobileonly) {display: none;}
		}
		.info-wrapper.post-mode{
			width: 61%;
			@include breakpoint(laptop) {width: 67%;}
			@include breakpoint(tablet) {width: 67%;}
			@include breakpoint(phablet) {width: 100%;}
			@include breakpoint(mobileonly) {width: 100%;}
			.back-div{
				border: 3px solid #7D7D7D;
				padding: 2px 10px 2px 30px;
				display: none;
				position:relative;
				span.empty{
					position:absolute; 
					width:100%;
					height:100%;
					top:0;
					left: 0;
					z-index: 1;
					background-image: image-url('empty.gif', false, false);
				}
				a{
					font-family: "thin";
					font-size: 19px;
					font-weight: bold;
					color: black;
					display: inline-block;
				}
				i{
					display: inline-block;
				}
				@include breakpoint(phablet) {display: block;}
				@include breakpoint(mobileonly) {display: block;}
			}
			.back-div:hover{
				background-color:#EDEDED;
			}
			.post-wrapper{
				.content-wrapper{
					width: 60%;
					@include breakpoint(laptop) {width: 68%;}
					@include breakpoint(tablet) {width: 68%;}
					@include breakpoint(phablet) {width: 100%;}
					@include breakpoint(mobileonly) {width: 100%;}
					.first-post{
						//border-bottom: 1px solid #F2F2F2;
						.page-header{
							.profilepic-wrapper{
								width: 47px;
							}
							.username-wrapper{
								width: 15%;
								.in{
									width: 30px;
								}
								a{
									width: 10%;
								}
							}
							.edit-delete-wrapper{
								width: 100%;
							}
							.title-wrapper{
								//width: 60%;

							}
						}
						.body-wrapper{
							width: 80%;
						}
					}
					.comment-wrapper{
						.page-header2{
							.profilepic-wrapper{
								width: 47px;
							}
							.username-wrapper{
								width: 15%;
								.in{
									width: 30px;
								}
								a{
									width: 10%;
								}
							}
							.edit-delete-wrapper{
								width: 100%;
							}
						}
						.comment-body{
							width: 80%;
						}
					}
				}
				.reply-wrapper{
					//width: 100%;
					.r2{
						//width: 86%;
						//margin: 0 auto;
						form{
						}
					}
				}
			}
		}

	}

	.post-form-wrapper{
		.new-post-outer{
			width: 82%;			
		}
		.post-selector{

			ul{
				li{
					padding: 10px 25px 10px 25px;
					margin-left: 3px;
					margin-bottom: -1px;
					display: inline-block;
					a{
						text-decoration: none;
						color: black;
						font-family: 'thin';
						font-size: 33px;
					}
					a:hover{
						font-weight: bold;
					}
				}
				li.active{
					border: 1px solid #E4E4E2;
					border-radius: 3px;
					background-color:white;
					border-bottom:none;
				}
				li.first{
					margin-left: 27px;
				}
			}
		}
		.post-selection-wrapper{
			border: 1px solid #E4E4E2;
			border-radius: 3px;
			background-color:white;
			padding-bottom:30px;
		}
		@include animation(fadeIn 0.75s);
		@include animation(fadeOut 0.75s);
		.title-wrapper{
			padding: 30px 50px 20px 50px;
			margin-left: auto;
			text-align: center;
			margin-right: auto;
			@include breakpoint(laptop) {padding: 40px 50px 10px 15%;}
			@include breakpoint(tablet) {padding: 40px 50px 10px 15%;}
			@include breakpoint(phablet) {padding: 40px 50px 10px 15%;}
			@include breakpoint(mobileonly) {padding: 40px 50px 10px 15%;}
			.title-label-wrap{
				font-family: "soft";
				font-size: 21px;
				color: #878787;
				text-align: left;
				margin-bottom: 5px;
			}
			input{
				width: 320px;
				@include breakpoint(laptop) {width: 80%;}
				@include breakpoint(tablet) {width: 80%;}
				@include breakpoint(phablet) {width: 80%;}
				@include breakpoint(mobileonly) {width: 80%;}
				// border: solid 1px #252525;
				// background-color:#F7F7F7;
				border-radius:0;
				@include input-placeholder {
					font-family: "soft";
					color: #B3B3B3;
					font-style: italic;
				}
			}
		}
		.body-wrapper.edit-mode{
			span.fr-placeholder{
				display: none;
			}
		}
		.body-wrapper{
			.title-label-wrap{
				font-family: "soft";
				font-size: 21px;
				color: #878787;
				text-align: left;
				margin-bottom: 5px;
			}
			padding: 5px 50px 5px 50px;
			.froala-box{
				h1{
					font-size: 26px;
				}
				h2{
					font-size: 24px;
				}
				h3{
					font-size: 22px;
				}
				h4{
					font-size: 20px;
				}
				em{
					font-style: italic;
				}
				strong{
					font-weight: bold;
				}
				blockquote {
				  background: #f9f9f9;
				  border-left: 10px solid #ccc;
				  margin: 1.5em 10px;
				  padding: 0.5em 10px;
				  quotes: "\201C""\201D""\2018""\2019";
				}
				blockquote:before {
				  color: #ccc;
				  content: open-quote;
				  font-size: 4em;
				  line-height: 0.1em;
				  margin-right: 0.25em;
				  vertical-align: -0.4em;
				}
				blockquote p {
				  display: inline;
				}
			}
			.froala-editor.f-basic{
				@include breakpoint(phablet) {display:none;}
				@include breakpoint(mobileonly) {display:none;}
				
			}
			.froala-element.not-msie.f-basic{
				height: 200px;
				@include breakpoint(phablet) {height: 150px;}
				@include breakpoint(mobileonly) {height: 150px;}
				background-color:#F7F7F7;
				
			}
			[title~="Strikethrough"] {
				@include breakpoint(tablet) {display:none;}
			}
			[title~="Indent"] {
				@include breakpoint(tablet) {display:none;}
			}
			[title~="Format"] {
				@include breakpoint(tablet) {display:none;}
			}
			[title~="Undo"] {
			    @include breakpoint(laptop) {display:none;}
				@include breakpoint(tablet) {display:none;}
			}
			[title~="Redo"] {
			    @include breakpoint(laptop) {display:none;}
				@include breakpoint(tablet) {display:none;}
			}
			span.fr-placeholder{
				font-family: "soft" !important;
				color: #B3B3B3 !important;
				@include breakpoint(phablet) {top:15 !important;}
				@include breakpoint(mobileonly) {top:15 !important;}
			}
		}
		.icon-wrapper{
			display: inline-block;
			padding: 5px 50px 5px 100px;
			width: 70%;
			@include breakpoint(tablet) {display: none;}
			@include breakpoint(phablet) {display: none;}
			@include breakpoint(mobileonly) {display: none;}
			.icon{
				display: inline-block;
				margin-right: 35px;
			}
			.bomb{
				select.setext{
					vertical-align: top;
					margin-left: -40px;
					z-index: 11;
				    background: transparent;
				    background-image: image-url('empty.gif', false, false);
				    width: 35px;
				    font-size: 16px;
				    border: 0;
				    height: 34px;
				    -webkit-appearance: none;
				    -moz-appearance: none;
				    appearance: none;
				    font-family: "soft";
					font-size: 14px;
					color: rgba(0, 0, 0, 0);
					span{
						font-family: "soft";
						font-size: 14px;
						color: white;
					}
				}
				select:focus{
				  // display: none;
				  background: transparent;
				  color: white;
				  opacity: 0;
				}
				
				option{
					border: 1px solid #111;
					background-color: #404040;
					color: white;
				}
			}
		}
		.date-wrapper{
			display: none;
		}
		.button-wrapper{
			vertical-align: top;
			display: inline-block;
			width: 120px;
			@include breakpoint(tablet) {margin-left:auto;margin-right:auto;display: block;}
			@include breakpoint(phablet) {margin-left:auto;margin-right:auto;display: block;}
			@include breakpoint(mobileonly) {margin-left:auto;margin-right:auto;display: block;}

			button{
				width: 120px;
				font-weight: bold;
				height: 43px;
				padding: 5px 5px 5px 7px;
				color: white;
				font-size: 26px;
				border: 0;
				font-family: "soft";
				background-color: #595959;
			}
			
		}

	}
	.admintop{
		top:84;
		position:fixed;
	}
	.comment-area{
		border: solid 1px #252525;
		span.fr-placeholder{
			top:5px !important;
			left: 5px;
			color: #787878;
			font-family: "soft";
		}
	}






} // Main APP


/////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Profile  Page

.main-content-wrapper.pro{
	height:100vh;
	@include background-imager('bg-pattern-690-717');
	background-repeat: repeat;
	.page-header{
		h1{
			font-size: 45px;
			font-family: "thin";
			margin-bottom: 10px;
		}
	}
	.well{
		h3{
			font-size: 25px;
			font-family: "thin";
			margin-bottom: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #eee;
		}
		li{
			font-family: "soft";
			margin-bottom: 10px;
		}
		table{
			th{
				font-family: "soft";
				margin-bottom: 10px;
			}
			td{
				font-family: "soft";
				margin-bottom: 10px;
				a{
					font-family: "soft";
					margin-bottom: 10px;
				}
			}
		}
	}
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
//Account page

.main-content-wrapper.pro.account{
	h1{
		font-family: "thin";
		font-size: 40px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
	}
	form{
		label{
			font-family: "soft";
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

}

/////////////////////////////////////////////////////////////////////////////////////////////////////
//Locked Page

.main-content-wrapper.pro.locked{
	h1{
		font-family: "thin";
		font-size: 30px;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-bottom: 10px;
		border-bottom: 1px solid #eee;
	}
	form{
		label{
			font-family: "soft";
			font-size: 16px;
			margin-bottom: 10px;
		}
	}

}













