

body {
	font-size: 1.2rem;
}

.main-front-wrapper{
	background-color:white;
	nav{
		background-color: #555555;
		height: 60px;
		width: 100%;
		.nav-content-wrapper{
			width: 80%;
			margin-right:auto;
			margin-left:auto;
		}
		.logo-wrapper{

		}
		.account-wrapper{

		}
	}
}


